* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

@counter-style pointer {
    system: cyclic;
    symbols: ">";
    suffix: " ";
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #d4d0af;
}

a {
    color: #000000;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: #A4A8D1;
    border-top: 5px solid #000000;
    border-left: 5px solid #000000;
    border-right: 5px solid #000000;
}

#header-language {
    margin: 10px;
    margin-left: 40px;
}

#header-language select {
    border: 3px solid #000000;
}

#header-links {
    margin: 10px;
    margin-right: 40px;
}

#header-links a.a {
    padding-right: 5px;
    border-right: 3px solid #000000;
}

#navbar {
    display: flex;
    justify-content: space-between;
    border: 5px solid #000000;
    background-color: #A4A8D1;
    
}

#navbar-name {
    padding-left: 20px;
}

#navbar-nav {
    margin: 30px;
    margin-top: 40px;
}

#navbar-nav a {
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    padding: 5px;
}

#nav-selected {
    border: 2px solid #000000;
    box-shadow: 2px 2px #000000;
}

#navbar-buttons {
    margin: 30px;
    margin-top: 40px;
}

#navbar-buttons a {
    color: #000000;
    border: 2px solid #000000;
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 2px #000000;
}

#url-location {
    padding: 20px;
}

#url-location p {
    margin: 0;
    color: #ffffff;
    
}
#url-location p a {
    color: #ffffff;
    text-decoration: none;
}
#url-location span {
    color: #ffffff;
}
#url-location b {
    text-decoration: underline;
}



#sidebar {
    float: left;
}

.sidebar-box {
    margin: 20px;
    border: 5px solid #000000;
    width: 20vw;
    padding-bottom: 20px;
    background-color: #A4A8D1;
}

.sidebar-box.a {
    padding-bottom: 0px;
}

.sidebar-box h3 {
    margin: 20px;
    border-bottom: 3px solid #000000;
}

.sidebar-box p {
    margin-left: 20px;
}

.sidebar-box ul {
    list-style-type: pointer;
}

.sidebar-box ul a {
    color: #000000;
    text-decoration: none;
}

#sidebar-selected {
    color: #ffffff;
    font-weight: bold;
}

#more-div {
    display: flex;
    justify-content: end;
}

#selectie-more {
    color: #000000;
    text-decoration: underline;
    margin: 5px;
}

#price-slider {
    margin: 20px;
    display: flex;
    margin-bottom: 0;
}

#price-slider-left {
    height: 25px;
    width: 25px;
    border: 2px solid #000000;
    background-color: #ffffff;
}

#price-slider-right {
    height: 25px;
    width: 25px;
    border: 2px solid #000000;
    background-color: #ffffff;
}

#price-slider-middle {
    margin-top: 7.5px;
    width: 90%;
    height: 6px;
    background-color: #808080;
    border: 4px solid #000000;
    border-left: 0;
    border-right: 0;
}

#price-slider-tag {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

#products {
    width: 70vw;
    float: right;
}
#products-top-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #000000;
    color: #ffffff;
    text-decoration: underline;
}

#products-top-top h2 {
    margin-bottom: 5px;
}

#products-top-top select {
    border: 3px solid #000000;
    margin: 20px;
    margin-bottom: 5px;
}

#products-middle {
    display: flex;
    flex-wrap: wrap;
}
#sort-by {
    background-color: #A4A8D1;
    color: #000000;
}
#show {
    background-color: #A4A8D1;
    color: #000000;
}

.product {
    margin: 30px;
    border: 5px solid #000000;
    width: 17vw;
    height: 27vw;
    background-color: #A4A8D1;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px #000000;
   
}

.product {
    margin: 30px;
    border: 5px solid #000000;
    width: 17vw;
    height: 27vw;
    background-color: #A4A8D1;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px #000000;
   
}

.product-img {
    border: 5px solid #000000;
    margin: 15px;
    border-radius: 5px; 
    background-color: #ffffff;
    box-shadow: 2px 2px #000000;
}

.product-img img {
    width: 100%;
    height: 210px;
    object-fit: contain;
    display: block;
}

.product-info {
    display: flex;
    justify-content: space-between;
 
}

.product-text {
    margin: 10px;
    margin-top: 0;

}

.product-title {
    font-size: 20px;
    font-weight: bold;

}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-top: 2px solid #000000;

}

.product-icon {
    border: 5px solid #000000;
    border-radius: 20px;
    height: 40px;
    width: 50px;
    margin: 10px;
    margin-top: 30px;
 
}

.product-icon:hover {
    cursor: pointer;
}

.product-icon img {
    margin: 10px;
}

.product-img iframe {
    width: auto ;
}

#products-bottom p {
    border-top: 5px solid #000000;
    padding-top: 10px;
    text-align: center;
}

#footer {
    background-color: #BBA0B2;
    clear: both;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
}

#footer h2 {
    text-transform: uppercase;
    color: #000000;
}

#footer a {
    color: #000000;
    text-decoration: none;
}

#footer-payment img {
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 10px;
    background-color: #fff;
}

#credit {
    color: #000000;
}

#credit p {
    margin: 10px;
}

#linkactive {
    color: #ffffff;
    text-decoration: underline;
}